.example-full-width {
    width: 100%;
}

.center {
    width: 40%;
    margin: 10px auto;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set_button {
    float: right;
    margin: -40px 0px 0px 0px;
}